*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(254, 246, 234);
}
nav{
    width: 800px;
    margin:  auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 10px;
}
.btn{
    border: none;
    padding: 8px;
    font-weight: bolder;
    box-shadow: 5px 5px 10px gray;
    border-radius: 15px ;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.btn2{
    background-color: rgb(175, 175, 175);
}
.btn3{
    background-color: tomato;
}
.btn4{
    background-color: rgb(72, 242, 43);
}
.level{
    display: flex;
align-items: center;
}
.ts{
    display: flex;
    align-items: center;
}
.ctimer{
    margin-right: 90px;
    padding: 8px;
    background-color: rgb(240, 240, 240);
}


/* hr{
    width: 50%;
    margin: 10px auto;

} */

#err{
    color: rgb(255, 20, 20);
    padding: 8px;
    font-size: 20px;
}

#board{
    width: 464px;
    height: 465px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px gray;
}

#num{
    width: 464px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: 10px 10px 10px gray;

}

.tile{
    width:48px ;
    height: 48px;
    border: 0.1vw solid rgb(91, 91, 91);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.7px;

}
.numb{
    width:48px;
    height:48px;
    border: .1vw solid rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin: 1.7px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.ns{
    background-color: lightgreen;
}

.tiles{
    background-color: rgb(232, 232, 232);
}

.hline{
    border-bottom: 0.3vw solid black;
}
.vline{
    border-right: 0.3vw solid black;

}

@media (max-width : 626px){
   #board,#num{
     margin-left : 175px;
   }
}